<div class="fuid-container mt-5">
    <div class="container">
      <h1 class="text-center mb-3">Average Marks (Property Binding + Event Binding)</h1>
  
      <div class="form-group">
        <label for="Physics">Physics:</label>
        <input type="text" class="form-control" id="physics" [(ngModel)]="physics" />
      </div>
  
      <div class="form-group">
        <label for="Chemistry">Chemistry:</label>
        <input type="text" class="form-control" id="Chemistry" [(ngModel)]="chemistry" />
      </div>
  
      <div class="form-group">
        <label for="Mathematics">Mathematics:</label>
        <input type="text" class="form-control" id="Mathematics" [(ngModel)]="mathematics" />
      </div>
  
      <div class="form-group">
        <label for="Hindi">Hindi:</label>
        <input type="text" class="form-control" id="Hindi" [(ngModel)]="hindi" />
      </div>
  
      <div class="form-group">
        <label for="English">English:</label>
        <input type="text" class="form-control" id="English" [(ngModel)]="english" />
      </div>

      <div class="form-group">
          <input type="button" class="btn btn-primary" value="Calculate Average" (click)=calculateAverage()/>
      </div>
    </div>
  </div>
