<div class="container-fluid mt-5 mb-5">
	<div class="container">
		<h1 class="text-center pb-3">Players Routing (Assignment)</h1>

		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" routerLink="Welcome/Sachin">Sachin</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="Welcome/Dravid">Dravid</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="Welcome/Azaharuddin">Azaharuddin</a>
				</li>
			</ul>
		</nav>
		
		<router-outlet></router-outlet>
	</div>
</div>