<div class="container-fluid mt-5">
	<div class="container">
		<h1 class="text-center mb-2">Template Driven Forms</h1>
		<form class="form" #frm>
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" ngModel id="name" class="form-control" name="name" required />
			</div>

			<div class="form-group">
				<label for="email">Email:</label>
				<input type="email" ngModel id="email" class="form-control" name="email" required />
			</div>

			<div class="form-group">
				<input type="button" class="btn btn-primary" value="Display Form Values" (click)=displayRecords() />
			</div>
		</form>
	</div>
</div>